* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
  background-color: #26785e;
  display: grid;
  
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
